---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Section from "@/components/Section.astro";
---

<Layout>
  <Header title="About us" />
  <Section title="Our mission">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolor est
      exercitationem saepe, voluptatum earum dicta dolores mollitia libero
      voluptatibus molestias unde porro quo excepturi iure eaque laborum? Ipsam,
      numquam.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae vero
      natus, amet quisquam ullam minus accusantium sint quidem vel error.
    </p>
  </Section>
  <Section title="Our approach">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
      voluptate odio vero atque optio nihil, earum ab aliquam eveniet
      architecto!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, modi!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
      cumque delectus nisi vero perspiciatis cupiditate nihil quia deserunt
      possimus beatae!
    </p>
  </Section>
  <Section title="Our philosophy">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
      voluptate odio vero atque optio nihil, earum ab aliquam eveniet
      architecto!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nobis nam
      voluptate nulla expedita dolorem tempora aspernatur, mollitia
      necessitatibus quod?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
      cumque delectus nisi vero perspiciatis cupiditate nihil quia deserunt
      possimus beatae!
    </p>
  </Section>
  <Section title="Our vision" separator={false}>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
      voluptate odio vero atque optio nihil, earum ab aliquam eveniet
      architecto!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quod
      nisi aperiam non ducimus cum officiis iste qui soluta! Corporis voluptas
      molestias deleniti ut ratione eligendi earum, provident tenetur officia
      veritatis quidem ex? Eum eligendi alias officia quas ad sit placeat rem
      perspiciatis, corporis temporibus dignissimos unde ullam accusamus quae?
    </p>
  </Section>
</Layout>
