---
import SignupForm from "@/components/SignupForm.astro";
import { Button } from "@/components/ui/button";
import { Card, CardHeader, CardContent } from "@/components/ui/card";
import Layout from "@/layouts/Layout.astro";
import GlobalCardWrapper from "@/components/GlobalCardWrapper.astro";
---

<Layout>
  <GlobalCardWrapper>
    <Card className="bg-primary text-primary-foreground">
      <CardHeader>
        <div class="w-full wrapper">
          <h1 class="font-heading text-2xl">Sign up</h1>
        </div>
      </CardHeader>
      <CardContent>
        <SignupForm />
        <div class="wrapper py-3">
          Already have an account? <Button variant={"link"} className={"text-primary-foreground"}
            ><a href="/login">Log in.</a></Button
          >
        </div>
      </CardContent>
    </Card>
  </GlobalCardWrapper>
</Layout>
