---
import SignupForm from "@/components/SignupForm";
import { Button } from "@/components/ui/button";
import { Card, CardHeader, CardContent } from "@/components/ui/card";
import Layout from "@/layouts/Layout.astro";
import GlobalCardWrapper from "@/components/GlobalCardWrapper.astro";
---

<Layout showFooter={false}>
  <GlobalCardWrapper>
    <Card className="bg-primary text-primary-foreground">
      <CardHeader>
        <div class="w-full wrapper">
          <h1 class="font-heading text-2xl">Sign up</h1>
        </div>
      </CardHeader>
      <CardContent>
        <SignupForm client:load />
        <div class="wrapper py-3">
          Already have an account? <a href="/login"
            ><Button variant={"link"} className={"text-primary-foreground"}
              >Log in.</Button
            ></a
          >
        </div>
      </CardContent>
    </Card>
  </GlobalCardWrapper>
</Layout>
