---
import { ShoppingBag, User } from "@lucide/astro";
import MenuButton from "./MenuButton";
import { links } from "@/lib/constants";
---

<div
  class="bg-black/57 text-primary-foreground backdrop-blur-md fixed inset-x-0 z-1"
>
  <nav
    class="grid w-full wrapper grid-cols-[1fr_min-content_1fr] py-10 px-8 z-2 items-center"
  >
    <div>
      <ul class="hidden lg:flex gap-3 text-sm items-center">
        {
          links.map((link) => (
            <li>
              <a href={link.href}>{link.name}</a>
            </li>
          ))
        }
      </ul>
      <div class="lg:hidden">
        <MenuButton client:load />
      </div>
    </div>
    <a href="/" class="font-heading">Logo</a>
    <div class="flex flex-row-reverse gap-3">
      <a href="/cart">
        <ShoppingBag />
      </a>
      <a href="/login">
        <User />
      </a>
    </div>
  </nav>
</div>
