---
import { ShoppingBag, User } from "@lucide/astro";
import MenuButton from "@/components/Navbar/MenuButton";
import Wrapper from "@/components/Navbar/NavbarWrapper";
import { links } from "@/lib/constants";
import Logo from "@/components/Logo.astro";
---

<Wrapper client:load>
  <nav
    class="grid w-full wrapper grid-cols-[1fr_min-content_1fr] py-6 px-8 z-2 items-center"
  >
    <div>
      <ul class="hidden lg:flex gap-3 text-sm items-center">
        {
          links.map((link) => (
            <li>
              <a href={link.href}>{link.name}</a>
            </li>
          ))
        }
      </ul>
      <div class="lg:hidden">
        <MenuButton client:load />
      </div>
    </div>
    <a
      href="/"
      class="font-heading group-data-[top=true]:w-15 w-10 transition-all duration-300 flex justify-center"
      ><Logo className="w-full h-full" /></a
    >
    <div class="flex flex-row-reverse gap-3">
      <a href="/cart" aria-label="Shopping cart">
        <ShoppingBag />
      </a>
      <a href="/login" aria-label="Log in">
        <User />
      </a>
    </div>
  </nav>
</Wrapper>
