---
import Product from "@/components/ProductsSection/Product";
interface Props {
  products?: Array<{
    name: string;
    price: number;
    image?: string | null;
    frontImage?: string | null;
  }>;
}

const { products = [] } = Astro.props;
---

<div class="grid wrapper gap-2 grid-cols-[repeat(auto-fill,minmax(300px,1fr))]">
  {
    products.map(({ name, price, image, frontImage }) => (
      <Product name={name} price={price} image={image || null} />
    ))
  }
</div>
