---
import Product, {
  type ProductCard,
} from "@/components/ProductsSection/Product";
interface Props {
  products?: Array<ProductCard>;
}

const { products = [] } = Astro.props;
---

<div class="grid wrapper gap-2 grid-cols-[repeat(auto-fill,minmax(300px,1fr))]">
  {
    products.map(({ name, price, backImage, frontImage }) => (
      <Product
        name={name}
        price={price}
        backImage={backImage || null}
        frontImage={frontImage || null}
      />
    ))
  }
</div>
