---
import Product from "@/components/ProductsSection/Product";
import type { ProductCard } from "@/lib/types";
interface Props {
  products?: Array<ProductCard>;
}

const { products = [] } = Astro.props;
---

<div class="grid wrapper gap-2 grid-cols-[repeat(auto-fill,minmax(300px,1fr))]">
  {
    products.map(({ name, price, image, frontImage }) => (
      <Product
        name={name}
        price={price}
        image={image || null}
        frontImage={frontImage || null}
      />
    ))
  }
</div>
