---
import { Font } from "astro:assets";
import "@/styles/global.css";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import { checkAuth } from "@/lib/utils";

interface Props {
  showNavbar?: boolean;
  showFooter?: boolean;
  authenticatedRoute?: boolean;
}

const {
  showNavbar = true,
  showFooter = true,
  authenticatedRoute = false,
} = Astro.props;

const isAuthenticated = checkAuth(Astro.cookies);
---

<!doctype html>
<html lang="en">
  <head>
    {
      authenticatedRoute && !isAuthenticated && (
        <script is:inline>
          window.location.replace(window.location.origin + "/login");
        </script>
      )
    }
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Mihad</title>
    <Font cssVariable="--font-serif" />
    <Font cssVariable="--font-sans" />
    <Font cssVariable="--font-mono" />
  </head>
  <body>
    {showNavbar && <Navbar />}
    <div class="min-h-60">
      <slot />
    </div>
    {showFooter && <Footer />}
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
