---
import { Card, CardContent } from "@/components/ui/card";

interface Props {
  price: number;
  originalPrice?: number;
  name: string;
}

const { price, originalPrice, name } = Astro.props;
---

<Card className="group/product">
  <CardContent>
    <div class="relative rounded aspect-3/4 w-full overflow-hidden">
      <div
        class="bg-red-600 absolute inset-0 z-1 group-hover/product:opacity-0 transition-opacity duration-250"
      >
      </div>
      <div class="bg-gray-600 absolute inset-0"></div>
    </div>
    <h2 class="text-2xl pt-3 pb-2">{name}</h2>
    <h3 class="text-xl">
      {
        originalPrice && (
          <span class="line-through pe-2 text-sm">£{originalPrice}</span>
        )
      }£{price}
    </h3>
  </CardContent>
</Card>
